@{
    IComponentRenderMode renderMode = new InteractiveWebAssemblyRenderMode(prerender: true);
}




<!DOCTYPE html>
<html lang="en" dir="@(themeService.RightToLeft.HasValue || themeService.RightToLeft == true ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["bootstrap/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Krafter.UI.Web.styles.css"]" />
    <link href="_content/Bit.BlazorUI.Extras/styles/bit.blazorui.extras.css" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <ImportMap />
    <RadzenTheme @rendermode="@renderMode" Theme="@(string.IsNullOrWhiteSpace(themeService.Theme) ? "standard" : themeService.Theme)" />
    <HeadOutlet @rendermode="@renderMode" />
   
</head>

<body>
    <Routes @rendermode="@renderMode" />
    
    <script src="_framework/blazor.web.js" ></script>
    <script src="@($"_content/Radzen.Blazor/Radzen.Blazor.js?v={typeof(Radzen.Colors).Assembly.GetName().Version}")"></script>
    <script src="js/helper.js"></script>
    <div id="webassembly-loading-spinner" class="app-loading-container">
        <img src="brand/loading-indicators/loading-indicator-m.svg" alt="loading" />
    </div>


    <script src="_content/Bit.BlazorUI.Extras/scripts/bit.blazorui.extras.js"></script>

</body>

</html>
